.DIVVideo{
    display: inline-block;
    border-style: solid;
    border-color: transparent;
    border-radius: 10px;
    margin: 20px;
    width: 300px;
    height: 300px;
    overflow: hidden;
    
}

.miniatura{
    width: 300px;
}

.divDatos{
    display: flex;
    flex-direction:column;
}

.FotoPerfil{

    width: 30px;
    border-radius: 180px;
    margin: 3px;
}
.TituloVideo{
    font-size: 13px;
}

.divNombreCanal{
    margin-top: auto;
    width: 100%;
    display: flex;

}
.NombreCanal{
    font-size: 10px;
    color:gray;
    margin-left: 35px;
}
.FechaSubida{
    font-size: 10px;
    color:gray;
    margin-left: 5px;
}
.divFotoPerfilTitulo{
    display: flex;
    flex-direction:row;
}