<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register_ko</title>
    <link rel="icon" type="image/x-icon" href="/pic/favicon.ico">
    <link rel="stylesheet" href="../css/login/registered.css">
    <link rel="stylesheet" href="css/navbar.css">

    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@100..700&family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">


</head>
<body>
    <div class="navbar">
        <img class="liga" src="pic/logoLIGA.png" onclick="window.location.href='/'"">
        <div class="user">
        <button class="login" id="nombreUsuario" onclick="window.location.href='/login'"></button>
        <img class="pais" id="pais" src="">
    
    </div>
    </div>

    <div class="main">
<h1>REGISTRO COMPLETADO</h1>

<a onclick="location.href='/login'">Login</a>


    </div>
</body>
<script src="js/username.js"></script>
<script src="js/logins.js"></script>
<script src="js/general.js"></script>
</html>