<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="icon" type="image/x-icon" href="/pic/favicon.ico">
    <link rel="stylesheet" href="../css/login/register.css">
    <link rel="stylesheet" href="css/navbar.css">

    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@100..700&family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">


</head>
<body>
    <div class="navbar">
        <img class="liga" src="pic/logoLIGA.png" onclick="window.location.href='/'"">
        <div class="user">
        <button class="login" id="nombreUsuario" onclick="window.location.href='/login'"></button>
        <img class="pais" id="pais" src="">
    
    </div>
    </div>

    <div class="main">

<div class="formulario">
    <form action="/register" method="post">

        <h1>Register</h1>
        <div class="botones">
            <button type="button" onclick="window.location.href='/login'">Login</button>
            <button type="button" class="select">Register</button>
        </div>

        <input type="text" id="nombre" name="nombre" placeholder="Name"><br>

        <input type="text" id="apellidos" name="apellidos" placeholder="Surname"><br>

        <input type="email" id="correo" name="correo" placeholder="Email Address"><br>
<div>
    <select id="pais" name="pais" placeholder="Country">
        <option value="España">España</option>
        <option value="Francia">Francia</option>
        <option value="Alemania">Alemania</option>
        <option value="Italia">Italia</option>
        <option value="Reino_unido">Reino Unido</option>
        <option value="Portugal">Portugal</option>
        <option value="Suecia">Suecia</option>
        <option value="Holanda">Holanda</option>
        <option value="Suiza">Suiza</option>
        <option value="Noruega">Noruega</option>
    
    </select>
    </div>
        <input type="password" id="contrasena" name="contrasena" placeholder="Password"><br>

        <input type="submit" id="enviar" class="enviar">

    </form>
</div>
    </div>
</body>
<script src="js/username.js"></script>
<script src="js/logins.js"></script>
<script src="js/general.js"></script>
</html>