<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/comun/header.css">
    <link rel="stylesheet" href="../css/inicio.css">

    <link href="https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <title>MyYoutube</title>
</head>
<body>
    <header>
        <div class="izquierda">
            <button class="fa-solid fa-bars botonMenu" onclick="alternarMenu()"></button>
            <img class= "logoYoutube" src="../src/logoYoutube.png">  
        </div>

        <div class="central">
            <form>
                <input type="text" placeholder="Buscar">
            </form>
        </div>

        <div class="derecha">
            <button class="fa-solid fa-arrow-up-from-bracket botonSubir"></button>
            <img class="iconoUsuario" src="../src/LOGO CANAL.jpg">
        </div>

    </header>
    <div class="contenido">

    <nav id="navMenu">
        <div class="opcion">
            <i class="fa-solid fa-house"></i>        
            <a href="/">
                <h1 class="textoNavMenu">Inicio</h1>
            </a>
        </div>
    
        <div class="opcion">
            <i class="fa-solid fa-id-card-clip"></i>        
            <a href="/micanal">
                <h1 class="textoNavMenu">Tu Canal</h1>
            </a>
                    </div>
    
        <div class="opcion">
            <i class="fa-solid fa-video"></i>
            <a href="/misvideos">
                <h1 class="textoNavMenu">Mis Videos</h1>
            </a>
        </div>
    </nav>
    <main id="main">

</div>
    <script src="../js/comun/general.js"></script>
    <script src="../js/inicio.js"></script>

</body>
</html>
