<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/comun/header.css">
    <link rel="stylesheet" href="../css/inicio.css">

    <link href="https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <title>MyYoutube</title>
</head>
<body>
</div>
    <script src="../js/comun/general.js"></script>
    <script src="../js/inicio.js"></script>

</body>
</html>
